
.main_conteiner{
    padding: 1rem 0;
    background-image: url('../../img/fondo.webp');
    background-size: cover;  
    height: 100vh;
}
.conteiner{
    display: flex;
    align-items: center;
    justify-content: center;
}

.title{
    text-align: center;
    font-size: 3.5rem;
    color: var(--claro);
}
.select{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1rem;
    text-align: center;
    font-size: 2rem;
    color: var(--claro);
    background-color: rgb(var(--principal));
    border: none;
    border-radius: 1rem;
}
.select option{
    color: var(--claro);
    font-size: 1rem;
}
@media (min-width: 768px) {
    .empleados_content{
        display: flex;
        flex-wrap: wrap;
       justify-content: center;
    }
}