:root{
  --principal: 48, 30, 26;
  --complementario: #a04b26;
  --oscuro: #141416;
  --claro: #ded2c9;
  --white: #FFFF;
  --verde: #b7833a;
  --verdeClaro: #cd831b;
  --letrasclaro: #839194;
  --btEditar: #79aba2  ;

}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: 'Open Sans', sans-serif;
}
body{
  width: 100%;
  overflow-x: hidden;
  
}
*, *:before, *:after {
  box-sizing: inherit;
}
.off_scroll{
  overflow: hidden;
}