@media (min-width: 768px) {
    .conteiner{
        display: flex;
         justify-content:center;
         height: 100vh;
     }
}
.conteiner{
    display: flex;
    align-items: center;
    justify-content:center;
    height: 100vh;
    background: rgb(183,131,58);
    background: radial-gradient(circle, rgba(183,131,58,1) 0%, rgba(160,75,38,1) 49%, rgba(120,64,52,1) 100%);
}
.content{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(var(--principal),0.9);
    border-radius: 0.5rem;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(25px);
    padding: 2rem;
    padding-bottom: 4rem;
    transition: 500ms;
    transition-property: all;
}
@media (min-width: 768px) {
    .content{
    
        padding: 2rem 5rem;
        transition: 500ms;
        transition-property: all;
    }
}
.title{
    color: var(--letrasclaro);
    font-size: 2.5rem;
    margin: 3rem 0;
    font-weight: normal;
    text-transform: uppercase;
}
.section_content{
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}
.section_content input{
    padding: 1.5rem;
    font-size: 2rem;
    border-radius: 0  0.5rem  0.5rem 0;
    background-color: var(--oscuro);
    border: none;
    color: var(--claro);
}
.icon{
    background-color: var(--complementario);
    padding: 1rem;
    color: var(--claro);
    border-radius: 0.5rem 0 0 0.5rem;
}
.bt{
    background-color: var(--complementario);
    color: var(--claro);
    padding: 1.5rem 0;
    border: none;
    font-size: 2rem;
    width: 100%;
    margin: 1rem 0;
    border-radius: 0.5rem;
    text-transform: uppercase;
    transition: 300ms;
    transition-property: all;

}
.bt:hover{
    cursor: pointer;
    background-color: var(--letrasclaro);
    color: var(--oscuro);
}
.msg_password{
    text-align: center;
    color: var(--claro);
}
.bt_regis_section{
    border-top: solid 2px var(--oscuro);

    margin: 4rem 0;
}
.bt_regis{
    background-color: var(--verde);
}
.bt_regis:hover{
    background-color: var(--verdeClaro);
    color: var(--oscuro);

    transition: 300ms;
    transition-property: all;

}
.error{
    text-align: center;
    color: rgb(195, 39, 39);
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 0;
  }
  