
.background{
    position: absolute;
    z-index: 1;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
   
}
.modal_conteiner{
    display: flex;
    z-index: 2;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    border-radius: 1rem;
    top: 30%;
    background-color: rgba(var(--principal), 0.9);
    padding: 2rem 1rem;
    padding-top: 1rem;
    margin: 0 1rem;
   
}
@media (min-width: 768px) {
    .modal_conteiner{
        top: 25%;
        bottom: 25%;
        left: 25%;
        right: 25%;
        padding: 1rem 3rem;
        padding-top: 0;
        margin: 0;
    }
}
.conteiner_bt_cerrar{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin-top: 0;
    margin-right: 2rem;
}
@media (min-width: 768px) {
    .conteiner_bt_cerrar{
        margin-bottom: 4rem;
    }
}

.bt_cerrar{
    font-size: 2.5rem;
    margin-top: 0;
    color: var(--white);

    

}
.bt_cerrar:hover{
    cursor: pointer;
    color: var(--verdeClaro);
    transition: 300ms;
    transition-property: all;
}
.conteiner h1{
    text-align: center;
    color: var(--white);
    margin: 0 1rem;
    text-transform: uppercase;
}
.username{
    color: var(--white);
    font-size: 2rem;
    border-radius: 1rem;
    background-color: var(--complementario);
    padding: 1rem 2rem;
}
.bts_conteiner{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.bts_conteiner button{
    font-size: 2rem;
    border: none;
    padding: 1rem 2rem;
    border-radius: 1rem;
    color: var(--white);
        
    transition: 300ms;
    transition-property: all;
}
@media (min-width: 768px) {
    .bts_conteiner button{
        padding: 1rem 3rem;
    }
}
.bts_conteiner button:hover{
    cursor: pointer;

    background-color: var(--letrasclaro);
    color: var(--oscuro);
    
    transition: 300ms;
    transition-property: all;

}
.bt_si{
    background-color: var(--verdeClaro);
}
.bt_no{
    background-color: var(--btEditar);
}