
.conteiner{
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: -1;
    height: 100vh;
    
    background-image: url('../../img/fondo.webp');
    background-size: cover;
}

.title{
    text-align: center;
    font-size: 3.5rem;
    color: var(--claro);
}
.select_conteiner{
    display: flex;
    align-items: center;
    justify-content: center;
}
.select{
    text-align: center;
    padding: 0.5rem 1rem;
    text-align: center;
    font-size: 2rem;
    color: var(--claro);
    background-color: rgb(var(--principal));
    border-radius: 1rem;
    border: none;
}
.add_conteiner{
    position:fixed;
    background-color: var(--verde);
    padding: 1rem;
    border-radius: 5rem;
    right: 0;
    bottom: 3rem;
    margin-right: 2rem;
}